.inputOption {
  display: flex;
  align-items: center;
  margin-top: 5px;
  color: gray;
  padding: 15px 10px;
  cursor: pointer;
  margin-left: 18px;
  margin-right: 15px;
}

.inputOption:hover {
  background-color: #ebebeb;
  border-radius: 5px;
}

.inputOption > h4 {
  margin-left: 10px;
  font-weight: 500;
}
